.card {
  width: 100%;
  border: 1px solid #fafafa;
  background-color: #ffffff;
  cursor: pointer;
  height: 100%;
  display: flex;
  padding: 2rem 3rem 2rem 2rem;
}

.image {
  width: 10rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 2rem;
  color: #d84315;
}

.producer,
.country {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.priceContainer {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.price {
  font-size: 2rem;
}

.qty {
  background-color: #d7be69;
  color: #fff;
  border-radius: 50%;
  height: 3.8rem;
  width: 3.8rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.qty p {
  display: block;
  margin: auto;
  font-size: 1.2rem;
}

.cta {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 16rem;
  height: 3.2rem;
  background-color: #d7be69;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn:disabled {
  background-color: #eeeeee;
}

.bookmark {
  cursor: pointer;
}
