* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

/* 1rem = 9px */
@media only screen and (max-width: 1250px) {
  html {
    font-size: 56.25%;
  }
}

/* 1rem = 8px */
@media only screen and (max-width: 1040px) {
  html {
    font-size: 50%;
  }
}

/* 1rem = 7px */
@media only screen and (max-width: 720px) {
  html {
    font-size: 43.75%;
  }
}

/* 1rem = 6px */
@media only screen and (max-width: 480px) {
  html {
    font-size: 37.5%;
  }
}

/* 1rem = 5px */
@media only screen and (max-width: 320px) {
  html {
    font-size: 31.25%;
  }
}
